body {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
}

.pokedex-header {
    width: 100%;
    background: red;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
}

.pokedex-form-container {
    width: 100%;
    background: white;
    padding: 10px 0;
    box-sizing: border-box;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
}

.pokedex-form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.pokedex-form input {
    width: 100%;
    max-width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.pokemon-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pokedex-card {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.pokedex-card-header {
    background: radial-gradient(circle at 50% 00%, #f0cf61 70%, #ffffff 30%);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex-card-header img {
    width: 100px;
    height: 100px;
}

.pokedex-card-title {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: bold;
}

.pokedex-card-stat {
    background: #f0cf61;
    border-radius: 20px;
    padding: 0.05px 25px;
    font-weight: bold;
    color: white;
}

.pokedex-card-subtitle {
    text-align: center;
    font-size: 18px;
    color: white;
    background: #FFD700;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: -10px;
}

.pokedex-card-content {
    text-align: center;
    padding: 20px;
}

.pokedex-card-content h3 {
    margin-top: 0;
}

.pokemonImage {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stats div {
    text-align: center;
}

.stats div span {
    display: block;
    font-weight: bold;
    margin-top: 5px;
}
