<div class="content">
    <div class="pokedex-header">Pokedex Pokemon</div>
    <div class="pokedex-form-container">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="pokedex-form">
            <input matInput placeholder="Ingresa un pokemón" formControlName="name" type="text">
        </form>
    </div>
    <br>
    <br>
    <div *ngIf="!showImage" class="pokemon-info">
        <h2>{{data.name}}</h2>
    </div>
    <div *ngIf="showImage">
        <mat-card class="example-card pokedex-card">
            <mat-card-header class="pokedex-card-header">
                <img class="pokemonImage" mat-card-image src="{{data.sprites.front_default}}" alt="Photo">
            </mat-card-header>
            <mat-card-title class="pokedex-card-title">HP {{data.stats[0].base_stat}}</mat-card-title>
            <!-- <mat-card-subtitle class="pokedex-card-subtitle">{{data.types[0].type.name}}</mat-card-subtitle> -->
            <mat-card-content class="pokedex-card-content">

                <br>
                <br>
                <br>

                <h2>{{data.name}}</h2>

                <br>
                <br>
                <br>

                <div class="stats">
                    <div class="pokedex-card-stat">
                        <span>{{data.types[0].type.name}}</span>
                    </div>
                    <!-- <div class="pokedex-card-stat">
                        <span>{{data.types[1].type.name}}</span>
                    </div> -->
                </div>

                <div class="stats">
                    <div>
                        <span>{{data.stats[1].base_stat}}</span>
                        <span>Ataque</span>
                    </div>
                    <div>
                        <span>{{data.stats[2].base_stat}}</span>
                        <span>Defensa</span>
                    </div>
                    <div>
                        <span>{{data.stats[5].base_stat}}</span>
                        <span>Velocidad</span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
